/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
data/data_01_2024.txt
data/data_01_2024_test.txt
data/data_02_2024.txt
data/data_02_2024_test.txt
data/data_03_2024.txt
data/data_03_2024_test.txt
data/data_03_2024_testb.txt
data/data_04_2024.txt
data/data_04_2024_test.txt
data/data_05_2024.txt
data/data_05_2024_test.txt
data/data_06_2024.txt
data/data_06_2024_test.txt
data/data_07_2024.txt
data/data_07_2024_test.txt
data/data_08_2024.txt
data/data_08_2024_test.txt
data/data_09_2024.txt
data/data_09_2024_test.txt
data/data_10_2024.txt
data/data_10_2024_test.txt
data/data_11_2024.txt
data/data_11_2024_test.txt
data/data_12_2024.txt
data/data_12_2024_test.txt
data/data_13_2024.txt
data/data_13_2024_test.txt
data/data_14_2024.txt
data/data_14_2024_test.txt
data/data_15_2024.txt
data/data_15_2024_test.txt
data/data_16_2024.txt
data/data_16_2024_test.txt
data/data_16_2024_test_2.txt
data/data_18_2024.txt
data/data_18_2024_test.txt
data/data_19_2024.txt
data/data_19_2024_test.txt
data/data_20_2024.txt
data/data_20_2024_test.txt
